# System & Python Junk
__pycache__/
*.py[cod]
*.pyc
.DS_Store
Thumbs.db
*.egg-info/

# Environments (Double Protection)
.venv/
venv/
env/
.conda/

# IDE
.vscode/

# DATA (Total Protection)
data_workspace/
data/

# LARGE FILES
*.pth
*.mp4
*.zip
outputs/

# Secrets & Logs
wandb/
.env

# Ignore personal files and outputs
full_project.txt
*.jpg
check_system.py
context_builder.py